<div class="skin-blue">
<header class="header">
    <a href="indexII.html" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
       Vision 2k HMS
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-money"></i>
                        <span class="label label-success">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">0 Payment Today</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                               
                                <li>
                                  
                                </li>
                               
                                
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span class="label label-warning">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">0 Appointment Registered Today</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                   
                                </li>
                                <li>
                                   
                                </li>
                                <li>
                                    
                                </li>

                                <li>
                                    
                                </li>
                                <li>
                                   
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-medkit"></i>
                        <span class="label label-danger">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">0 Medicines Registered today </li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li><!-- Task item -->
                                   
                                </li><!-- end task item -->
                                <li><!-- Task item -->
                                   
                                </li><!-- end task item -->
                                <li><!-- Task item -->
                                   
                                </li><!-- end task item -->
                                <li><!-- Task item -->
                                    
                                </li><!-- end task item -->
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all</a>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span>Admin <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="/webapp/vendors/img/avatar3.png" class="img-circle" alt="User Image" />
                            <p>
                               Administrator
                                <small>&nbsp;</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="javascript:void(0)" (click)="Logout()" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/webapp/vendors/img/avatar.png" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>Hello, Admin</p>

                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..."/>
                    <span class="input-group-btn">
                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="active">
                    <a href="indexadmin.html">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Department</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="adddoctors/depadmin.html"><i class="fa fa-angle-double-right"></i>View Department</a></li>
                        <li><a href="adddoctors/adddepadmin.html"><i class="fa fa-angle-double-right"></i>Add Department</a></li>
                       </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user-md"></i>
                        <span>Doctor</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="adddoctors/docadmin.html"><i class="fa fa-angle-double-right"></i>View Doctor</a></li>
                        <li><a href="adddoctors/adddocadmin.html"><i class="fa fa-angle-double-right"></i>Add Doctor</a></li>
                       </ul>
                </li>
                                       
                <li>
                    <a href="adddoctors/messageadmin.html">
                        <i class="fa fa-envelope"></i> <span>Messages</span>
                    </a>
                </li>
               
               
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Administrator</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
           
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- top row -->
          <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                       <h4> Administrator</h4>
                            <h3>
                                100 <small style="color:#fff;">Tokens Issued</small>
                            </h3> 
                            
                        </div>
                        <div class="icon">
                            <i class="fa fa-building-o"></i>
                        </div>
                        <a href="departmentadmin.html" class="small-box-footer" style="text-align:center;">
                           150/300
                        </a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                           <h4> Orthopedic</h4>
                            <h3>
                                9 <small style="color:#fff;">Patients Seen</small>
                            </h3> 
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-md"></i>
                        </div>
                        <div class="small-box-footer">
                        <div class="row">
                        <div class="col-lg-12">
                        <div class="col-sm-8"><a href="dep1.html" class="boxtxt">Appointment: 9/10</a></div>
                        <div class="col-sm-4"><a href="#" class="boxtxt pull-right">Total:&nbsp;50/100</a></div>
                        </div></div>
                        </div>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h4> Pediatric</h4>
                            <h3>
                                6 <small style="color:#fff;">Patients Seen</small>
                            </h3> 
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-md"></i>
                        </div>
                       <div class="small-box-footer">
                        <div class="row">
                        <div class="col-lg-12">
                        <div class="col-sm-8"><a href="dep2.html" class="boxtxt">Appointment: 6/20</a></div>
                        <div class="col-sm-4"><a href="#" class="boxtxt pull-right">Total:&nbsp;50/100</a></div>
                        </div></div>
                        </div>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h4> Emergency</h4>
                            <h3>
                               8 <small style="color:#fff;">Patients Seen</small>
                            </h3> 
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-md"></i>
                        </div>
                        <div class="small-box-footer">
                        <div class="row">
                        <div class="col-lg-12">
                        <div class="col-sm-8"><a href="dep3.html" class="boxtxt">Appointment: 8/20</a></div>
                        <div class="col-sm-4"><a href="#" class="boxtxt pull-right">Total:&nbsp;50/100</a></div>
                        </div></div>
                        </div>
                        
                    </div>
                </div><!-- ./col -->
            </div>  

          <!-- Main row -->
            <section class="content">


            <div class="row">
                <div class="col-md-3">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">Draggable Events</h4>
                        </div>
                        <div class="box-body">
                            <!-- the events -->
                            <div id='external-events'>                                        
                                <div class='external-event bg-green'>Lunch</div>
                                <div class='external-event bg-red'>Go home</div>
                               
                                <div class='external-event bg-navy'>Sleep tight</div>
                                <p>
                                    <input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
                                </p>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /. box -->
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Create Event</h3>
                        </div>
                        <div class="box-body">
                            <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                                <button type="button" id="color-chooser-btn" class="btn btn-danger btn-block btn-sm dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>
                                <ul class="dropdown-menu" id="color-chooser">
                                    <li><a class="text-green" href="#"><i class="fa fa-square"></i> Green</a></li>
                                    <li><a class="text-blue" href="#"><i class="fa fa-square"></i> Blue</a></li>                                            
                                    <li><a class="text-navy" href="#"><i class="fa fa-square"></i> Navy</a></li>                                            
                                    <li><a class="text-yellow" href="#"><i class="fa fa-square"></i> Yellow</a></li>
                                    <li><a class="text-orange" href="#"><i class="fa fa-square"></i> Orange</a></li>
                                    <li><a class="text-aqua" href="#"><i class="fa fa-square"></i> Aqua</a></li>
                                    <li><a class="text-red" href="#"><i class="fa fa-square"></i> Red</a></li>
                                    <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i> Fuchsia</a></li>
                                    <li><a class="text-purple" href="#"><i class="fa fa-square"></i> Purple</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <div class="input-group">                                          
                                <input id="new-event" type="text" class="form-control" placeholder="Event Title">
                                <div class="input-group-btn">
                                    <button id="add-new-event" type="button" class="btn btn-default btn-flat">Add</button>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-md-9">
                    <div class="box box-primary">                                
                        <div class="box-body no-padding">
                            <!-- THE CALENDAR -->
                            <div id="calendar"></div>
                        </div><!-- /.box-body -->
                    </div><!-- /. box -->
                </div><!-- /.col -->
            </div><!-- /.row -->  


        </section>

        </section>
    </aside>
</div>
<script type="text/javascript">
    $(function() {

        /* initialize the external events
         -----------------------------------------------------------------*/
        function ini_events(ele) {
            ele.each(function() {

               
                var eventObject = {
                    title: $.trim($(this).text()) 
                };

                $(this).data('eventObject', eventObject);

              
                $(this).draggable({
                    zIndex: 1070,
                    revert: true,
                    revertDuration: 0  
                });

            });
        }
        ini_events($('#external-events div.external-event'));

 
        var date = new Date();
        var d = date.getDate(),
                m = date.getMonth(),
                y = date.getFullYear();
        debugger;
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                prev: "<span class='fa fa-caret-left'></span>",
                next: "<span class='fa fa-caret-right'></span>",
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day'
            },
            
            events: [
                  {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false,
                    backgroundColor: "#0073b7", //Blue
                    borderColor: "#0073b7" //Blue
                },
                {
                    title: 'Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false,
                    backgroundColor: "#00c0ef", //Info (aqua)
                    borderColor: "#00c0ef" //Info (aqua)
                },
                {
                    title: 'meeting',
                    start: new Date(y, m, d + 1, 19, 0),
                    end: new Date(y, m, d + 1, 22, 30),
                    allDay: false,
                    backgroundColor: "#00a65a", //Success (green)

                    borderColor: "#00a65a" //Success (green)
                },
            ],
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar !!!
            drop: function(date, allDay) { // this function is called when something is dropped

                // retrieve the dropped element's stored Event Object
                var originalEventObject = $(this).data('eventObject');

                // we need to copy it, so that multiple events don't have a reference to the same object
                var copiedEventObject = $.extend({}, originalEventObject);

                // assign it the date that was reported
                copiedEventObject.start = date;
                copiedEventObject.allDay = allDay;
                copiedEventObject.backgroundColor = $(this).css("background-color");
                copiedEventObject.borderColor = $(this).css("border-color");

                // render the event on the calendar
                // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }

            }
        });

        /* ADDING EVENTS */
        var currColor = "#f56954"; //Red by default
        //Color chooser button
        var colorChooser = $("#color-chooser-btn");
        $("#color-chooser > li > a").click(function(e) {
            e.preventDefault();
            //Save color
            currColor = $(this).css("color");
            //Add color effect to button
            colorChooser
                    .css({"background-color": currColor, "border-color": currColor})
                    .html($(this).text()+' <span class="caret"></span>');
        });
        $("#add-new-event").click(function(e) {
            e.preventDefault();
            //Get value and make sure it is not null
            var val = $("#new-event").val();
            if (val.length == 0) {
                return;
            }

            //Create event
            var event = $("<div />");
            event.css({"background-color": currColor, "border-color": currColor, "color": "#fff"}).addClass("external-event");
            event.html(val);
            $('#external-events').prepend(event);

            //Add draggable funtionality
            ini_events(event);

            //Remove event from text input
            $("#new-event").val("");
        });
    });
</script>
</div>