
<div class="form-box" id="login-box">
    <div class="header">Sign In</div>
    <form action="#" method="post">
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" name="userid" class="form-control" [value]="username" (input)="username=$event.target.value" placeholder="User ID"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" [value]="password" (input)="password=$event.target.value" placeholder="Password"/>
            </div>          
            <div class="form-group">
                <input type="checkbox" name="remember_me" ng-model="VM.blnremember"/> Remember me
            </div>
        </div>
        <div class="footer">                                                               
            <button type="submit" class="btn bg-light-blue btn-block" (click)="login($event)">Sign in</button>  
            
            <div class="row">
            <div class="col-md-6 col-sm-6"><a href="#">Forgot Password</a></div>
            </div>
        </div>
    </form>
</div>